@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel

<h2>Page not found</h2>
<p>The page you requested does not exist.</p>
<p>
    <a class="btn btn-primary" asp-page="/Investments/Index">Go to Investments</a>
    <a class="btn btn-secondary" asp-page="/Values/Index">See Values</a>
</p>
